#header {
    padding-top: 1em;
    text-align: center
}

#footer {
    text-align: center;
}

h1 {
    font-family: "times new roman", times, serif;
    color: #000;
}

h1 a {
    text-decoration: none;
}


h2 {
    font-size: 1.5em;
    margin-bottom: 0.2em;
    color: #000;
}

h2 a {
    font-family: helvetica, sans-serif;
    text-decoration: none;
}

h2 a:hover {
    text-decoration: underline;
}

h4 {
    border-bottom: 0.1em solid #000;
    margin-bottom: 0.5em;
}

h4 a {
    font-family: helvetica, sans-serif;
    text-decoration: none;
    color: #000;
}

h4 a:hover {
    color: #009; 
}

#nav a {
    padding-right: .5em;
    padding-left: .5em;
    text-decoration: none;
}

#nav a:hover {
    text-decoration: underline;
}
